# add react-navigation:
yarn add react-navigation
yarn add react-navigation-gesture-handler
# android:
react-native link react-native-gesture-handler
# nothing to do on ios:  - -!

# add prop-types
yarn add prop-types

# add react-native-ratings
yarn add react-native-ratings

# add react-native-swiper
yarn add react-native-swiper

# add react-native-cardview
yarn add react-native-cardview
# android:
react-native link react-native-cardview

# add @react-native-community/blur
yarn add @react-native-community/blur
# android:
react-native link @react-native-community/blur


